<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/bootstrap-icons/font/bootstrap-icons.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js" defer></script>
    <script src="/js/dashboard.js" defer></script>
    <title>Warehouse inventory || receiving</title>
</head>

<body style="height: 100vh;">
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container-fluid">
        <div class="row">
            <nav th:replace="~{fragments/nav :: stocking-nav}">StockingNav</nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="height: 98vh; overflow-y: auto;">
                <section style="display: flex; justify-content: center; width: 100%; margin-top: 4rem; ">
                    <div class="card" style="flex: 1;">
                        <div class="card-body ">


                            <span class="text-success card-title fs-2">Product Summary</span>
                            <div class="mb-3">
                                <hr class="new1">
                            </div>

                            <div class="d-flex justify-content-between fs-3">
                                <span class="font-weight-bold text-capitalize">product name</span>
                                <span class="text-muted" th:text="${purchaseOrder.product.name}">5</span>
                            </div>
                            
                            <div class="d-flex justify-content-between fs-3">
                                <span class="font-weight-bold text-capitalize"> Quantity</span>
                                <span  id="text-quantity" class="text-muted" th:text="${purchaseOrder.Quantity}">5</span>
                            </div>

                            <div class="d-flex justify-content-between fs-3">
                                <span class="font-weight-bold text-capitalize">Location</span>
                                <span class="text-muted" th:text="${purchaseOrder.product.location.location_name}">5</span>
                            </div>

                           

                            <div class="text-center mt-5">
                                <form th:action="@{/stockingClerk/stocking-db}" method="post" th:object="${confirm}">

                                    <input type="hidden" th:field="*{productID}" id="id" />
                                    <input type="hidden" th:field="*{productQuantity}" id="quantity" />
                                    <button class="btn btn-primary">Confirm</button>

                                </form>




                            </div>

                        </div>


                    </div>

                </section>

            </main>
        </div>


    </div>
    <script src="/js/chart.umd.min.js"
        integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG"
        crossorigin="anonymous"></script>

    <script>

        /***
         * @type {HTMLInputElement}
         **/
        const id = document.getElementById('id');
        const quantity =document.getElementById("quantity")


        window.addEventListener('DOMContentLoaded', (e) => {
            const quantityText = document.getElementById("text-quantity");
            console.log(location.pathname);
            const paths = location.pathname.split('/');

            id.value = paths[paths.length - 1];

            quantity.value = quantityText.innerText.trim();


            console.dir(quantity);
        })


    </script>
</body>

</html>